<footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
td, th {
  border: 1px solid #A9A9A9;}
  table {
  background-color:#D3D3D3;  }
</style>
<hr><p><center>Follow us on  -
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a></center></p>
<table style="width:100%">
    <tr><td>Name : </td><td>Megha Sukhralia</td>
  <tr>
    <td>Reg ID :</td><td>11717282</td></tr>
    <tr>
      <td>Roll no. : </td><td>24</td></tr></table>
<p> Copyright - Megha Sukhralia  {{getCurrentYear}}</p>
<hr>
</footer>
