<header>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <h4 ><b><i>........This is  {{pageTitile}} Page of our website "Techie".......</i></b></h4>
    <nav class="navbar navbar-default">
    <ul class="nav nav-tabs">
            <li> <a href="/" class="active">Home  </a></li>
            <li><a href="/About">About Us</a></li>
            <li><a href="/Contact">Contact Us </a></li>
            <li><a href="/Reach">Reach Us </a></li>
          </ul>
      </div>
    </nav>
  </header>
