<!DOCTYPE html>
<html>
<head>
  <title>About Page </title>
</head>
<body style="background-color:rgb(255,228,181);">
  {{>header}}
  <div class="well well-sm" style="background-color:rgb(255,160,122);">
  <div class="container" >
    <h3><b><center>About Us</b></h3>
    <p><center><i>This Website is all about Technologies used in Indian Denfence.</p>
 <p>This is My Lab Evaluation 3 of cource code CAP 919</i></center></p></center>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTIuSVKeJCMCuwfygVACrmXkmFfLXVkGxbMJDO_wP0UzuMuPL1u&usqp=CAU"
               height="50%" , width="100%">
              <div class="caption">
                 <h4><b>Indian Army</b></h4>
                 <p class="title">Techies About Indian Army</p>
          <p>Here you get all about the Technologies<br>
  already introdused and Technologies<br>
  can be used in Indian Army.</p>
          <p>army123@gmail.com</p>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS2orloqMCm8lDbwjLEQ6MbWh3dCNSMV0_YYP0yVk96ucU7KOn9&usqp=CAU"
                 height="50%" , width="100%">
              <div class="caption">
                <h4><b>Indian Air Force</b></h4>
                <p class="title">Techies About Indian Air Forces</p>
          <p>Here you get all about the Technologies already<br> introdused and Technologies
              can be used in<br> Indian Air Forces</p>
          <p>air123@gmail.com</p>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTXUb8eCiJXub48_C1_4bCaUfYwswpCb3KG40FzqzM1ukzAKCX7&usqp=CAU"
            height="50%" , width="100%">
              <div class="caption">
                <h4><b>Indian Navy</b></h4>
       <p class="title">Techies About Indian Navy</p>
       <p>Here you get all about the Technologies
          already<br> introdused and Technologies can
           be<br> used in Indian Navy.</p>
       <p>navy1232gmail.com</p>
     </div>
          </div>
        </div>
</div>
    {{>footer}}
  </body>
  </html>
