<!DOCTYPE html>
<html>
<head>
  <title>Home Page </title>

</head>
<body  style="background-color:rgb(179, 226, 255);" >

  {{>header}}
  <div class="well well-sm">

  <div class="container">

    <h2><b><center>Technologies in Indian Defence</center></b></h2>
</div></div> <img src="https://mod.gov.in/dod/sites/all/themes/dod/images/banner/inner-banner.jpg" class="img-rounded"  width="100% "alt="pic 1">
<br><hr>
<p >The responsibility of developing India’s defense technology is assigned to the DRDO, i.e.,
   the Defence Research and Development Organization.The Defence Research and Development Organization or
   DRDO was set up in 1958 and hence, it is the supreme body of researching, monitoring, regulating, and administering
   the India Defence Research and Development Program.<p>

<div  class="bg-info">
    <p><b>     At present, DRDO is a network of more than 50 laboratories located in different cities of the country.</b></p>
    <ul><li>The DRDO specializes in the following fields −

<ul><li>Aeronautical Engineering,</li>
<li>Electronics,Advanced computing and simulation,</li><li>Armaments,Engineering system,</li>
<li>Combat vehicles,Missiles,Life science,</li>
<li>Special materials,
Agriculture,
Training, etc.</li></ul></li></ul></div>
<div class="well well-sm">
<div class="container">
  <h3><b><center>Missile Technology</center></b></h3>
</div>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
            <img src="https://www.tutorialspoint.com/fundamentals_of_science_and_technology/images/military_missiles.jpg"style="width:100%" height="50%">
            <div class="caption">
              <p>The development of missile technology in India started in the 1960s. Consider the following point relating to Missile Technology −</p>
              <ul>
                <li>The first successful testing of space-cum-missile technology was the Rohini-75, which was tested in 1967.</li>

            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
            <img src="https://www.tutorialspoint.com/fundamentals_of_science_and_technology/images/agni_missiles.jpg" style="width:100%" height="50%">
            <div class="caption">
              <p>Agni is a series of medium to intercontinental range ballistic missiles.
                Agni missiles are medium-to-long range, nuclear weapons capable surface to surface ballistic missile.
               the series of Agni missiles, the first (Agni-I) missile was developed under the Integrated Guided Missile Development Program
               in the 1980s and it was first tested in 1989.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRvgY_Q_ZpROCHzNfJ1f3p2PTE5CcdGpM60nShcu4ZpKWc3guJn&usqp=CAU"style="width:100%" height="50%">
            <div class="caption">
              <p>Indian missile defense is a double-tiered system. The first tier uses the Prithvi Air Defen
                ce (PAD/Pradyumna) and Prithvi Defense Vehicle (PDV) for exo-atmospheric intercepts.
                 The PAD is slated to be replaced by the PDV system because the latter is equipped with an indigenous Imaging Infrared (IIR).</p>
            </div>
          </a>
        </div>
      </div></div><hr>
    {{>footer}}
  </body>
  </html>
