<!DOCTYPE html>
<html>
<head>
  <title>Reach us Page </title>
</head>
<body style="background-color:rgb(236, 202, 230);">
  {{>header}}
  <div class="container">
  <div class="well well-sm" style="background-color:rgb(234, 176, 232);">
  <div class="container" >
    <h3><b><center>Reach Us</b></h3>
    </center></div>
</div>
</div>
  <div class="container">
  <p><b>Reach us on our official website:  </b> techieca3@gmail.com</p>
  <p><b>Website name:</b> Techie</p>
  <p><b>Number:</b>8000111777</p>
    <p>Tollfree number</p><br>
    {{>footer}}
  </body>
  </html>
